[submodule "extlib/tlx"]
	path = extlib/tlx
	url = https://github.com/tlx/tlx
[submodule "extlib/utils"]
	path = extlib/utils
	url = https://github.com/pasta-toolbox/utils
[submodule "extlib/doxygen-awesome-css"]
	path = extlib/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
